.cards {
    width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    // flex-basis: calc(960px * 999 - 100% * 999);
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    // grid-template-columns: minmax(min-content, 300px) minmax(max-content, 1fr);
    grid-gap: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
  }

.card-body {
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  border-radius: 5px;
  width: 25%;
}

.card-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-card {
  background-color: lightgrey;
  width: auto; 
}

div.card-body.card-add {
    background-color: darkblue;
    color: white;
    align-content: center;
}

.add {
  align-content: center;
  display: block;
  text-align: center;
}