 
 #new_dose {   
    font-size: 20px;
 }

 .form {
    justify-content: center;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
 }

 .btn {
   background-color: darkblue;
   color: white;
 }
